
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400&display=swap');


$font-h1:"Raleway Semi Bold";
$font-h2:"Raleway Medium";
$font-text:"Raleway Regular";
$font-caption:"Raleway Italic";
