f1 {
    font-family:"Raleway";
    font-size:36pt;
    font-style:semi bold;

}

f2 {
    font-family: "Raleway";
    font-size: 25px;
    font-style: medium;
    }

text {
    font-family: "Raleway";
    font-size: 18px
}
caption {
    font-family: "Raleway";
    font-weight: italic;
    font-size: 12px;
}

keyword {
    font-family: "Raleway";
    font-size:18px;
    color:$color-keyword;
}
