f1 {
    font-family:"Raleway";
    font-size:55pt;
    font-style:semi bold;

}

f2 {
    font-family: "Raleway";
    font-size: 36px;
    font-style: medium;
    }

text {
    font-family: "Raleway";
    font-size: 28px
}
caption {
    font-family: "Raleway";
    font-weight: italic;
    font-size: 16px;
}
