h1 {
    font-family:"Raleway Semi Bold";
    font-size:55pt;
    font-style:"semi bold";
    color:black
}

h2 {
    font-family: "Raleway";
    font-size: 36px;
    font-style: medium;
    color:black
    }

