.m-header {
    position:relative;
    display: flex;
    align-items: center;
    padding:$unit-xs;
    box-sizing: border-box;
    
  
    .m-header__logo {
      position:absolute;
      left:0;
      padding: $unit-xs;
      text-align:center;
      font-weight: bold;
      color: $color-headlines;
      font-size:55px;
      
    }
    
    .m-header__navigation {
      padding: $unit-xs;
      display:block;
      text-align:center;
      flex-grow:1;
  
      ul {
        display:inline-block;
        li {
          display:inline-block;
          margin-right: $unit-xs;
          
  
          a {
            transition: all 0.5s;
            color: $color-headlines;
            text-decoration: none;
  
            &:hover {
              color: $color-keyword;
              text-decoration: underline;
            }
          }
  
          &.active {
            a {
              color: $color-keyword;
              text-decoration: underline;
            }
          }
        }
      }
  
      &.visible {
        display: block;
      }
    }
  }